.search-form {
    display: flex;
    width: 80%;
    margin: 3% auto;
    .btn-group{
        width: 30%;
        align-self: center;
        .btn{
            width: auto;
            margin: 0px 5px;
            border-radius: 4px !important;
        }
        .btn:focus {
            border: none;
            box-shadow: none;
            background-color: #0d6efd;
        }

    }
}